<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>A consultant has updated their interest in your job, <%= @client.name %></h1>
<p>
  The job <b><%= @job.title %></b>
</p>
<p>
  The consultant <b><%= @consultant.name %></b>
</p>
</body>
</html>
