<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>The client has updated the job state <%= @consultant.name %></h1>
<p>
  The job <b><%= @job.title %></b>
</p>
<p>
  The client <b><%= @client.name %></b>
</p>
</body>
</html>
